site_name: GeoBTAA Harvesting Guide
theme: 
      name: material
      custom_dir: overrides
      highlightjs: true
      logo: images/btaa-logo-white.png
      features:
            - navigation.indexes
            - navigation.instant
            - navigation.tabs
            - navigation.tabs.sticky
            - navigation.tracking
            - navigation.sections
#             - navigation.expand
            - navigation.path
            - navigation.prune
            - toc.follow
            - toc.integrate
plugins:
      - search
      - table-reader
#       - mkdocs-jupyter:
#             include_source: True

extra_css:
      - stylesheets/extra.css

markdown_extensions:
      - abbr
      - tables
      - attr_list
      - md_in_html
      - admonition
      - footnotes
      - pymdownx.critic
      - pymdownx.caret
      - pymdownx.keys
      - pymdownx.mark
      - pymdownx.tilde
      - pymdownx.details
      - pymdownx.superfences:
            custom_fences:
                  - name: mermaid
                    class: mermaid
                    format: !!python/name:pymdownx.superfences.fence_code_format
                    showSequenceNumbers: true
      - pymdownx.snippets
      - pymdownx.emoji:
            emoji_index: !!python/name:materialx.emoji.twemoji
            emoji_generator: !!python/name:materialx.emoji.to_svg
            options:
                  custom_icons:
                        - overrides/.icons
      - pymdownx.tabbed:
            alternate_style: true 
            slugify: !!python/object/apply:pymdownx.slugs.slugify
                  kwds:
                        case: lower
      - toc:
              toc_depth: 2
              permalink: true


nav:
      - Home: 'index.md'
      - Tutorials: '1-Tutorials/index.md'
      - Recipes: 
            - 'Recipes': '2-Recipes/index.md'
            - 'ArcGIS': '2-Recipes/R-01_arcgis-hubs/R-01_arcgis-hubs.md'
            - 'Socrata': '2-Recipes/R-02_socrata/R-02_socrata.md'
            - 'CKAN': '2-Recipes/R-03_ckan/R-03_ckan.md'
            - 'OAI-PMH': '2-Recipes/R-04_OAI-PMH/R-04_OAI-PMH.md'
            - 'IIIF': '2-Recipes/R-05_IIIF/R-05_iiif.md'
      - Reference: '3-Reference/glossary.md'
      - Explanation:
            - 'Resource lifecycle': '4-Explanation/resource-lifecycle.md'
            - 'About harvesting': '4-Explanation/about-harvesting.md'
            - 'Purpose': '4-Explanation/purpose.md'
            - 'Common data portals': '4-Explanation/data-portals.md'

            
            
      