.md-header, .md-tabs { 
  background-color: #0a4c7b;
}

/* Hide main nav title */
label[for="__drawer"] {
    display: none;
}
.md-nav__list>*:first-child {
    margin-top: 0;
}

increase header size and fonts.md-header__topic  {
  font-size: 1.5em; 
  line-height: 2em;
  }